black==26.1.0
blinker==1.9.0
cachetools==6.2.6
certifi==2026.1.4
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
coverage==7.13.2
distlib==0.4.0
Faker==40.4.0
filelock==3.20.3
Flask==3.1.2
greenlet==3.3.1
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
librt==0.7.8
MarkupSafe==3.0.3
mypy==1.19.1
mypy_extensions==1.1.0
numpy==2.4.2
packaging==26.0
pandas==3.0.0
pathspec==1.0.4
platformdirs==4.5.1
pluggy==1.6.0
psycopg2-binary==2.9.11
Pygments==2.19.2
pyproject-api==1.10.0
pytest==9.0.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytokens==0.4.1
requests==2.32.5
six==1.17.0
SQLAlchemy==2.0.46
tox==4.34.1
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
virtualenv==20.36.1
Werkzeug==3.1.5
