black==26.1.0
cachetools==6.2.6
chardet==5.2.0
click==8.3.1
colorama==0.4.6
coverage==7.13.2
distlib==0.4.0
filelock==3.20.3
greenlet==3.3.1
iniconfig==2.3.0
librt==0.7.8
mypy==1.19.1
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.5.1
pluggy==1.6.0
Pygments==2.19.2
pyproject-api==1.10.0
pytest==9.0.2
pytest-cov==7.0.0
pytokens==0.4.1
SQLAlchemy==2.0.46
tox==4.34.1
typing_extensions==4.15.0
virtualenv==20.36.1
